*.class

.classpath

.metadata/.lock

.metadata/.log

.metadata/.mylyn/.taskListIndex/segments_1

*.gen

*.zip

*.version

*.index

*.tree

*.resources

*.prefs

*.xmi

.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache

.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache

.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

*.dat

*.class

*.xml

*.log

*.ini

.project

*.class

bin/actions/FairScheduler.class

bin/actions/Scheduler.class

bin/resources/ResourcePool.class
